:root {
    font-family: system-ui, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.app {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    h1 {
        padding-top: 1rem;
        text-align: center;
    }

    .info {
        color: dimgrey;
        text-align: center;
    }

    .options-group {
        --transitionDuration: 350ms;
        padding: 0.5rem;
        
        .header {
            padding: 0.5rem;
            display: flex; 
            gap: 0.4rem;
            align-items: center;
            border-top: solid 1px dimgrey;
            
            .icon {
                transition: all var(--transitionDuration);
            }
        }

        .options {
            height: 100%;
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 0.4rem;
            overflow: hidden;
            transition: max-height var(--transitionDuration);
    
            &>label {
                width: max-content;
                padding: 0.2rem 0.4rem;
                background-color: hsl(0, 0%, 90%);
                border-radius: 0.5rem;
            }
    
            .input {
                display: flex;
                
                select, input {
                    flex: 1;
                }
                input[type=checkbox] {
                    flex: 0;
                }
                input[type=range] {
                    margin-inline: 0.5rem;
                }
            }
        }
    }

    .test-window {
        position: relative;
        flex: 1;
        border-top: solid 1px black;

        button {
            display: block;
            margin: 0.5rem auto;
            text-transform: uppercase;
            color: blue;
            background-color: transparent;
            border: none;
            border-radius: 0.6rem;
            padding: 0.6rem;
            font-weight: bold;

            &:hover {
                background-color: rgba(135, 206, 235, 0.2);
            }
        }
    }
}